{% extends 'base.html' %}

{% block title %}
Muuri demo
{% endblock %}

{% block content %}
<section class="kanban-demo">

  <div class="board">
    <div class="board-column todo">
      <div class="board-column-header">To do</div>
      <div class="board-column-content">
        <div class="board-item"><div class="board-item-content"><span>Item #</span>1</div></div>
        <div class="board-item"><div class="board-item-content"><span>Item #</span>2</div></div>
        <div class="board-item"><div class="board-item-content"><span>Item #</span>3</div></div>
      </div>
    </div>
    <div class="board-column working">
      <div class="board-column-header">Working</div>
      <div class="board-column-content">
        <div class="board-item"><div class="board-item-content"><span>Item #</span>4</div></div>
        <div class="board-item"><div class="board-item-content"><span>Item #</span>5</div></div>
        <div class="board-item"><div class="board-item-content"><span>Item #</span>6</div></div>
      </div>
    </div>
    <div class="board-column done">
      <div class="board-column-header">Done</div>
      <div class="board-column-content">
        <div class="board-item"><div class="board-item-content"><span>Item #</span>7</div></div>
        <div class="board-item"><div class="board-item-content"><span>Item #</span>8</div></div>
        <div class="board-item"><div class="board-item-content"><span>Item #</span>9</div></div>
      </div>
    </div>
  </div>

</section>
{% endblock %}