{% extends 'base.html' %}

{% block title %}
Create queue
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="auth-container">
    <h3 class="header center orange-text">Create queue</h3>
    <div class="row center">
        <a href="/queues" id="back_button" class="btn-large waves-effect waves-light orange">Back</a>
    </div>
    <form class="form" method="POST" action="/queue_create">
      {% include 'queues/queue_fields.html' %}
      <div class="row center">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}