<div class="input-field col s12">
  <input id="name" name="name" type="text" value="{{ queue.name }}" required class="validate">
  <label for="name">Name</label>
</div>
<div class="input-field col s12">
  <div class="row">
    <div class="input-field col s3">
      <label>Period</label></div>
    </div>
</div>
<div class="input-field col s12">
  <div class="row">
    <div class="input-field col s3">
      <input id="period_days" name="period_days" type="number" value={{ queue.get_period_days() }} required class="validate">
      <label for="period_days">Days</label>
    </div>
    <div class="input-field col s3">
      <input id="period_hours" name="period_hours" type="number" value={{ queue.get_period_hours() }} required class="validate">
      <label for="period_hours">Hours</label>
    </div>
    <div class="input-field col s3">
      <input id="period_min" name="period_min" type="number" value={{ queue.get_period_minutes() }} required class="validate">
      <label for="period_min">Minutes</label>
    </div>
    <div class="input-field col s3">
      <input id="period_sec" name="period_sec" type="number" value={{ queue.get_period_seconds() }} required class="validate">
      <label for="period_sec">Seconds</label>
    </div>
  </div>
</div>
<div class="input-field col s12">
  <select id="type" name="type" required>
    <option value=1 {{ 'selected' if queue.is_type_equals(1) }}>Not periodic</option>
    <option value=2 {{ 'selected' if queue.is_type_equals(2) }}>Periodic</option>
    <option value=3 {{ 'selected' if queue.is_type_equals(3) }}>Periodic const intervals</option>
  </select>
  <label>Type</label>
</div>
<div class="input-field col s12">
    <textarea id="comments" name="comments" class="materialize-textarea">{{ queue.comments }}</textarea>
    <label for="comments">Comments</label>
</div>