{% extends 'base.html' %}

{% block title %}
Queues
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row center">
      <a href="/queue_create" id="create_queue_button" class="btn-large waves-effect waves-light orange">Create queue</a>
    </div>
    <table class="striped">
      <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PERIOD</th>
            <th>TYPE</th>
            <th>COMMENTS</th>
        </tr>
      </thead>

      <tbody>
        {% for queue in all_queues %}
          <form class="form" method="POST" action="/queues">
            <input name="queue_id" type="hidden" value={{ queue.id }}>
            <tr>
              <td>{{ queue.id }}</td>
              <td>{{ queue.name }}</td>
              <td>{{ queue.period }}</td>
              <td>{{ queue.type }}</td>
              <td>{{ queue.comments }}</td>
              <td width="100px">
                <button class="btn btn-lg btn-primary btn-block" type="submit">delete</button>
              </td>
              <td width="100px">
                <a href="/queue_edit/{{ queue.id }}" class="btn btn-lg btn-primary">edit</a>
              </td>
            </tr>
          </form>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}