<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/static/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/static/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/static/muuri/css/demo-kanban.css" rel="stylesheet">
<link href="/static/css/base.css" rel="stylesheet">