{% extends 'base.html' %}

{% block title %}
Error
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">{{ error_code }}</h1>
    <br><br>

  </div>
</div>
{% endblock %}
