<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Short info</h5>
        <p class="grey-text text-lighten-4">This is home page runs on Raspberry Pi Zero Device. SSH and FTP services are active.</p>

      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="/dashboard">Modify database</a></li>
          <li><a class="white-text" href="/dashboard">Delete users</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="/index">Home page</a></li>
          <li><a class="white-text" href="/dashboard">Dashboard</a></li>
          <li><a class="white-text" href="/login">Login page</a></li>
          <li><a class="white-text" href="/register">Registration page</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>