{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Home Page</h1>
    <div class="row center">
      <h5 class="header col s12 light">Welcome to Raspberry Pi Zero Device! SSH and FTP services are active</h5>
    </div>
    <div class="row center">
      <a href="https://gitlab.com/vovagorodok/home_page" id="download-button" class="btn-large waves-effect waves-light orange">Go to the repository page</a>
    </div>
    <br><br>

  </div>
</div>
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Fast page</h5>

          <p class="light">...</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User management</h5>

          <p class="light">...</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy configurable</h5>

          <p class="light">...</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>
{% endblock %}