{% if msg_error %}
  <div class="card-panel white-text red darken-3">{{ msg_error }}</div>
{% endif %}
{% if msg_success %}
  <div class="card-panel white-text teal lighten-2">{{ msg_success }}</div>
{% endif %}
{% if msg_info %}
  <div class="card-panel white-text amber accent-3">{{ msg_info }}</div>
{% endif %}