<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">HOME</a>
    <ul class="right hide-on-med-and-down">
      {% with dropdown_content_id="dropdown-pc" %}
      {% include 'base/nav_content.html' %}
      {% endwith %}
    </ul>

    <ul id="nav-mobile" class="sidenav">
      {% with dropdown_content_id="dropdown-mobile" %}
      {% include 'base/nav_content.html'  %}
      {% endwith %}
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>