{% if current_user.is_authenticated %}
  <li><a href="/logout">Logout</a></li>
{% else %}
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Registration</a></li>
{% endif %}
<li><a class="dropdown-trigger" data-target={{ dropdown_content_id }}>Services<i class="material-icons right">arrow_drop_down</i></a></li>
<ul id={{ dropdown_content_id }} class='dropdown-content'>
  <li><a href="/users">Users</a></li>
  <li><a href="/monitor">System monitor</a></li>
  <li><a href="/queues">Queues</a></li>
</ul>