<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/materialize/js/materialize.js"></script>
<script src="/static/materialize/js/init.js"></script>
<script src="/static/muuri/js/vendor/hammer-2.0.8.min.js"></script>
<script src="/static/muuri/js/vendor/muuri-0.7.0.js"></script>
<script src="/static/chart/chart.js"></script>
<script src="/static/muuri/js/demo-kanban.js"></script>
<script src="/static/js/elements_updater.js"></script>
<script src="/static/js/base.js"></script>