<!DOCTYPE html>
<html lang="en">
<head>
  <title>Line chart</title>
  <script src="/static/chart/chart.js"></script>
</head>
<body>
  <div style="height:80%;width:80%">
	<canvas id="line_chart"></canvas>
  </div>
  <script>
var data = {
  labels: [
  {% for row in reader %}
    '{{ row[fieldnames[0]] }}',
  {% endfor %}
  ],
  datasets: [
  {% for field_name in fieldnames[1:] %}
  {
    label: '{{ field_name }}',
	backgroundColor: 'rgba({{ colors[field_name] }},0.2)',
	borderColor: 'rgba({{ colors[field_name] }},1)',
	data: [
	{% for row in reader %}
	  {{ row[field_name] }},
	{% endfor %}
	],
  },
  {% endfor %}
  ]
};
var ctx = document.getElementById('line_chart').getContext('2d');
var chart = Chart.Line(ctx, {
    data: data,
    options: {}
});
  </script>
</body>
</html>