{% extends 'base.html' %}

{% block title %}
CSV reader
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      {% for field_name in reader.fieldnames %}
        <th>{{ field_name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in reader%}
    <tr>
      {% for field_name in reader.fieldnames %}
        <td>{{ row[field_name] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
