{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="auth-container">
    <h2 class="header center orange-text">Log in</h2>
    <form class="form" method="POST" action="/login">
      <div class="input-field col s12">
        <input id="username" name="username" type="text" required class="validate">
        <label for="username">User name</label>
      </div>
      <div class="input-field col s12">
        <input id="password" name="password" type="password" required class="validate">
        <label for="password">Password</label>
      </div>
      <p>
        <label>
          <input name="remember" type="checkbox" class="remember"/>
          <span>Remember me</span>
        </label>
      </p>
      <div class="row center">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
