{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="auth-container">
    <h2 class="header center orange-text">Registration</h2>
    <form class="form" method="POST" action="/register">
      {% include 'authentication/user_fields.html' %}
      <div class="input-field col s12">
        <input id="password" name="password" type="password" required class="validate">
        <label for="password">Password</label>
      </div>
      <div class="row center">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}