{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row center">
      <a href="/user_create" id="create_user_button" class="btn-large waves-effect waves-light orange">Create user</a>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>USERNAME</th>
          <th>EMAIL</th>
          <th>ROLE</th>
        </tr>
      </thead>

      <tbody>
        {% for user in all_users %}
          <form class="form" method="POST" action="/users">
            <input name="username" type="hidden" value={{ user.username }}>
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td width="100px">
                <button data-target="user_delete{{ user.id }}" class="btn modal-trigger">delete</button>
                <div id="user_delete{{ user.id }}" class="modal">
                  <div class="modal-content">
                    <h4>Are you shore ?</h4>
                    <p>Delete user '{{ user.username }}'</p>
                  </div>
                  <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                    <a href="/user_delete/{{ user.id }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                  </div>
                </div>
              </td>
              <td width="80px">
                <a href="/user_edit/{{ user.id }}" class="btn btn-lg btn-primary">edit</a>
              </td>
              <td width="200px">
                <a href="/user_change_password/{{ user.id }}" class="btn btn-lg btn-primary">change password</a>
              </td>
            </tr>
          </form>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}