{% extends 'base.html' %}

{% block title %}
Edit user
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="auth-container">
    <h2 class="header center orange-text">Edit user</h2>
    <div class="row center">
      <a href="/users" id="back_button" class="btn-large waves-effect waves-light orange">Back</a>
    </div>
    <form class="form" method="POST" action="/user_edit/{{ user.id }}">
      {% include 'authentication/user_fields.html' %}
      <div class="input-field col s12">
        <select id="role" name="role" required>
          <option value=1 {{ 'selected' if user.is_role_equals(1) }}>User</option>
          <option value=2 {{ 'selected' if user.is_role_equals(2) }}>Administrator</option>
        </select>
        <label>Role</label>
      </div>
      <div class="row center">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}