<div class="input-field col s6">
  <input id="username" name="username" type="text" value="{{ user.username }}" required class="validate">
  <label for="username">User name</label>
</div>
<div class="input-field col s12">
  <input id="email" name="email" type="email" value="{{ user.email }}" required class="validate">
  <label for="email">Email</label>
</div>