{% extends 'base.html' %}

{% block title %}
Change password
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="auth-container">
    <h2 class="header center orange-text">Change password</h2>
    <div class="row center">
      <a href="/users" id="back_button" class="btn-large waves-effect waves-light orange">Back</a>
    </div>
    <form class="form" method="POST" action="/user_change_password/{{ user.id }}">
      <div class="input-field col s12">
        <input id="password" name="password" type="password" required class="validate">
        <label for="password">Password</label>
      </div>
      <div class="row center">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}