<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>
    {% block title %}{% endblock %}
  </title>
  {% include 'base/css.html' %}
</head>
  <body>
    {% include 'base/nav.html' %}
    {% include 'base/messages.html' %}
    {% block content %}{% endblock %}
    {% include 'base/footer.html' %}
    {% include 'base/scripts.html' %}
  </body>
</html>
