{% extends 'base.html' %}

{% block title %}
System monitor
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <font face="arial">
      <pre>
        <div class="html-auto-update" id="hau" url_json='/monitor/status.json' update_interval_msec=2000></div>
      </pre>
    </font>
  </div>
</div>
{% endblock %}
